<mat-toolbar color="primary">
  <div class="header-container">

    <a mat-button routerLink="/" class="logo-button">
      <span>E-Ticaret Sitem</span>
    </a>

    <span class="spacer"></span>

    <form class="search-form" (ngSubmit)="performSearch()">
      <input type="text" class="search-input-mat" placeholder="Arama..."
             name="searchInput" [(ngModel)]="searchTerm" aria-label="Arama kutusu">
      <button mat-icon-button type="submit" aria-label="Arama yap">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <div class="user-actions-mat">

      <button mat-button [matMenuTriggerFor]="accountMenu" class="action-button">
        <mat-icon>account_circle</mat-icon>
        <span>{{ (isLoggedIn$ | async) ? 'Hesabım' : 'Giriş Yap' }}</span>
      </button>
      <mat-menu #accountMenu="matMenu">
        <ng-container *ngIf="!(isLoggedIn$ | async)">
          <button mat-menu-item routerLink="/auth/login">
            <mat-icon>login</mat-icon>
            <span>Giriş Yap</span>
          </button>
          <button mat-menu-item routerLink="/auth/register">
            <mat-icon>person_add</mat-icon>
            <span>Kayıt Ol</span>
          </button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn$ | async">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Profilim</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Çıkış Yap</span>
          </button>
        </ng-container>
      </mat-menu>

      <button mat-icon-button routerLink="/favorites" *ngIf="isLoggedIn$ | async"
              aria-label="Favorilerim" title="Favorilerim" class="action-button">
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button mat-icon-button routerLink="/cart"
              [matBadge]="(cartItemCount$ | async) || null"
              [matBadgeHidden]="(cartItemCount$ | async) === 0"
              matBadgeColor="warn"
              matBadgeOverlap="true"
              aria-label="Alışveriş Sepeti" title="Sepetim" class="action-button">
        <mat-icon>shopping_cart</mat-icon>
      </button>

    </div>

  </div>
</mat-toolbar>
