<div class="product-list-container">
  <h2 class="list-title">{{ categoryTitle }}</h2>

  <ng-container *ngIf="(products$ | async) as products; else loading">
    <div *ngIf="products.length === 0" class="no-products">
      Bu kategoride ürün bulunamadı.
    </div>

    <div class="product-grid">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
  </ng-container>

  <ng-template #loading>
    <p>Ürünler yükleniyor...</p>
  </ng-template>

</div>
